#workskin .blog {
  max-width: 70%;
  width: 500px;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: tahoma, sans-serif;
}

#workskin .blog p,
#workskin .blog div,
#workskin .blog q {
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
}

#workskin .blog h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-block-end: 1rem;
}

#workskin .blog .blog-byline {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}

#workskin .blog .blog-byline p {
  padding: 5px;
  border-radius: 5px;
  background: rgb(125, 125, 125, 0.3);
  width: fit-content;
  box-sizing: border-box;
  max-width: 100%;
  margin-inline-end: 0.5rem;
  margin-block: 0.25rem;
}

#workskin .blog .paras {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arial, sans-serif;
}

#workskin .blog .paras q {
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  font-style: italic;
  display: block;
}

#workskin .blog .paras p,
#workskin .blog .paras q,
#workskin .blog .paras figure {
  margin-block-start: 15px;
  margin-block-end: 0;
}

#workskin .blog .paras p:first-child,
#workskin .blog .paras q:first-child,
#workskin .blog .paras figure:first-child {
  margin-block-start: 0;
}

#workskin .blog figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workskin .blog figcaption {
  text-align: center;
  font-style: italic;
}

#workskin .blog img {
  max-width: 100%;
}

#workskin .blog .share {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
}

#workskin .blog .share p {
  width: fit-content;
  max-width: 100%;
  margin: 0;
  margin-inline-end: 0.25rem;
}

#workskin .blog .share ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#workskin .blog .share li {
  display: inline-flex;
  margin: 0.15rem;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  opacity: 0.8;
}
