/* Here's where I'd define colors... if AO3 let me *cry* */
/* #workskin .jpay {
  --primary-blue: #0176b8;
  --secondary-blue: #4a5974;
  --danger: red;
  --success: #7aa731;
  --neutral: #777;
  --default-text: black;
  --light-text: white;
  --default-background: #fffc;
  /* neutral background is slightly transparent * /
  --neutral-background: #d0cccb50;
  --beige-background: #fef8d2cc;
} */

#workskin .jpay {
  border: 1px solid #0176b8; /* var(--primary-blue); */
  width: 650px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

#workskin .jpay div:not(.jpay-header),
#workskin .jpay ul,
#workskin .jpay p {
  border-radius: 5px;
}

#workskin .jpay .address-bar,
#workskin .jpay div.jpay-inbox-letter,
#workskin .jpay div.compose-letter {
  border-radius: 0;
}

#workskin .jpay .jpay-inbox,
#workskin .jpay .jpay-compose {
  padding: 1em;
  padding-top: 0;
}

#workskin .jpay .jpay-header {
  padding-bottom: 0;
  border-top: 10px solid #0176b8; /* var(--primary-blue); */
}

#workskin .jpay .address-bar {
  display: flex;
  align-items: center;
  /* gap: 1em; */
  background-color: #d0cccb50; /* var(--neutral-background); */
  padding: 0.25em;
  flex-wrap: wrap;
}

#workskin .jpay .address-bar > span {
  display: inline-flex;
}

#workskin .jpay .address-bar .text-size {
  display: inline-block;
}

#workskin .jpay .address {
  flex: 1 1 min-content;
}

#workskin .jpay .text-bar {
  width: fit-content;
}

#workskin .jpay .address-bar .large {
  font-size: 125%;
}

#workskin .jpay .button-bar,
#workskin .jpay .attachments,
#workskin .jpay .jpay-header-1,
#workskin .jpay .jpay-header-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 1em; */
  padding-left: 0;
  border-radius: 5px;
}

#workskin .jpay .button-bar > li,
#workskin .jpay .attachments > li,
#workskin .jpay .jpay-header-1 > li,
#workskin .jpay .jpay-header-2 > li {
  /* correction for missing gap on parent */
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin: 0.5em;
  display: inline-flex;
  box-sizing: border-box;
}

#workskin .jpay .logo {
  display: flex;
  align-items: center;
  color: #0176b8; /* var(--primary-blue); */
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
}

#workskin .jpay .socials {
  display: flex;
  align-items: center;
}

#workskin .jpay .header-bar {
  background-color: #fffc; /* var(--default-background); */
  border-radius: 5px;
}

#workskin .jpay .jpay-header-1 {
  color: #4a5974; /* var(--secondary-blue); */
  justify-content: end;
  padding: 0.25em;
  margin-top: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#workskin .jpay .jpay-header-2 {
  color: white; /* var(--light-text); */
  background-color: #4a5974; /* var(--secondary-blue); */
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

#workskin .jpay .button {
  border-radius: 5px;
  padding: 0.1em 0.5em;
  color: white; /* var(--light-text); */
  background-color: #777; /* var(--neutral); */
}

#workskin .jpay .red.button {
  background-color: red; /* var(--danger); */
  font-weight: bold;
}

#workskin .jpay .green.button {
  background-color: #7aa731; /* var(--success); */
  font-weight: bold;
}

#workskin .jpay .button.med-text {
  border: 2px solid black; /* var(--default-text); */
}

#workskin .jpay .button > span {
  display: inline-block;
  width: max-content;
  box-sizing: border-box;
}

#workskin .jpay .monitor-warning {
  color: red; /* var(--danger); */
}

#workskin .jpay .stamp-warning {
  color: black; /* var(--default-text); */
  background-color: #fef8d2cc; /* var(--beige-background); */
  padding: 0.5em;
}

#workskin .jpay .jpay-inbox-letter {
  background-color: #d0cccb50; /* var(--neutral-background); */
  padding: 0.25em;
  padding-bottom: 5em;
}

#workskin .jpay .jpay-inbox h4,
#workskin .jpay .jpay-compose h4 {
  color: #4a5974; /* var(--secondary-blue); */
  background-color: #fffc; /* var(--default-background); */
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  box-sizing: border-box;
  font-size: 1.25rem;
  border-radius: 5px;
}

#workskin .jpay .compose-letter {
  border: 1px solid black; /* var(--default-text); */
  padding: 0.5em;
}

#workskin .jpay .right-gap:not(#bogus) {
  margin-right: auto;
}

#workskin .jpay .left-gap:not(#bogus) {
  margin-left: auto;
}

#workskin .jpay .hidden-br {
  display: none;
}

/* correction for missing gap */
#workskin .jpay .address-bar > span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#workskin .jpay .pre-paid {
  display: flex;
  align-items: center;
}

#workskin .jpay .pre-paid > span {
  margin-left: 0.5em;
}
