/* Here's where I'd define colors... if AO3 let me *cry* */
/* #workskin .jpay {
  --primary-blue: #0176b8;
  --secondary-blue: #4a5974;
  --danger: red;
  --success: #7aa731;
  --neutral: #777;
  --default-text: black;
  --light-text: white;
  --default-background: #fffc;
  /* neutral background is slightly transparent * /
  --neutral-background: #d0cccb50;
  --beige-background: #fef8d2cc;
} */

/* images without src attributes */
img:not([src*="http"]) {
  border: 2px solid red; /* var(--danger); */
  color: red; /* var(--danger); */
}

div,
p,
img,
span,
ul,
ol,
li {
  box-sizing: border-box;
  max-width: 100%;
}

.jpay {
  border: 1px solid #0176b8; /* var(--primary-blue); */

  width: 650px;
  max-width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.jpay div:not(.jpay-header),
.jpay ul,
.jpay p {
  border-radius: 5px;
}

.jpay .address-bar,
.jpay div.jpay-inbox-letter,
.jpay div.compose-letter {
  border-radius: 0;
}

.jpay-inbox,
.jpay-compose,
.jpay-header {
  padding: 1em;
  padding-top: 0;
}

.jpay-header {
  padding-bottom: 0;
  border-top: 10px solid #0176b8; /* var(--primary-blue); */
}

.address-bar {
  display: flex;
  align-items: center;
  /* gap: 1em; */
  background-color: #d0cccb50; /* var(--neutral-background); */
  padding: 0.25em;
  flex-wrap: wrap;
}

.address-bar > span {
  display: inline-flex;
}

.address-bar .text-size {
  display: inline-block;
}

.address {
  flex: 1 1 min-content;
}

.text-bar {
  width: fit-content;
}

.address-bar .large {
  font-size: 125%;
}

.button-bar,
.attachments,
.jpay-header-1,
.jpay-header-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 1em; */
  padding-left: 0;
  border-radius: 5px;
}

.logo {
  display: flex;
  align-items: center;
  color: #0176b8; /* var(--primary-blue); */
  margin-bottom: 0;
}

.socials {
  display: flex;
  align-items: center;
}

.button-bar > li,
.attachments > li,
.jpay-header-1 > li,
.jpay-header-2 > li {
  display: inline-flex;
  /* gap: 0.25em; */
  box-sizing: border-box;
}

.jpay .header-bar {
  background-color: #fffc; /* var(--default-background); */
  border-radius: 5px;
}

.jpay-header-1 {
  color: #4a5974; /* var(--secondary-blue); */
  justify-content: end;
  padding: 0.25em;
  margin-top: 0;
}

.jpay-header-2 {
  color: white; /* var(--light-text); */
  background-color: #4a5974; /* var(--secondary-blue); */
  padding: 0.5em;
}

.button {
  border-radius: 5px;
  padding: 0.1em 0.5em;
  color: white; /* var(--light-text); */
  background-color: #777; /* var(--neutral); */
}

.red.button {
  background-color: red; /* var(--danger); */
  font-weight: bold;
}

.green.button {
  background-color: #7aa731; /* var(--success); */
  font-weight: bold;
}

.button.med-text {
  border: 2px solid black; /* var(--default-text); */
}

.button > span {
  display: inline-block;
  width: max-content;
  box-sizing: border-box;
}

.monitor-warning {
  color: red; /* var(--danger); */
}

.stamp-warning {
  color: black; /* var(--default-text); */
  background-color: #fef8d2cc; /* var(--beige-background); */
  padding: 0.5em;
}

.jpay-inbox-letter {
  background-color: #d0cccb50; /* var(--neutral-background); */
  padding: 0.25em;
  padding-bottom: 5em;
}

.jpay-inbox h4,
.jpay-compose h4 {
  color: #4a5974; /* var(--secondary-blue); */
  background-color: #fffc; /* var(--default-background); */
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  box-sizing: border-box;
  font-size: 1.25rem;
  border-radius: 5px;
}

.compose-letter {
  border: 1px solid black; /* var(--default-text); */
  padding: 0.5em;
}

.left-gap {
  margin-left: auto;
}

.hidden-br {
  display: none;
}

/* correction for missing gap */
.address-bar > span {
  margin-left: 1em;
}

/* correction for missing gap */
.address-bar > span:first-of-type {
  margin-left: 0;
}
