#outer {
    font-size: 1.3rem;
}

#dashboard {
    font-size: 1rem;
}

#main {
    font-size: .875rem;
}

h4.heading {
    font-size: 1.2rem;
}

.tag {
    font-size: 1rem;
}

dd.rating.tags .tag,
dd.warning.tags .tag,
dd.character.tags .tag,
dd.category.tags .tag,
dd.fandom.tags .tag,
dd.relationship.tags .tag {
    font-size: .75rem;
}

h5.fandoms.heading .tag,
div.user.module.group .tag {
    font-size: .75rem;
}

.stats {
    font-size: .875rem;
}

.userstuff {
    font-size: .81rem;
}

blockquote.userstuff.notes p {
    font-size: .75rem;
}

p {
    font-size: .81rem;
}

.wrapper {
    font-size: .75rem;
}

.work.navigation {
    font-size: .85rem;
}

/* Make the drop-down menu under "Hi, username!" right-aligned
 * so that the text is still visible even at a very large font size.
 */
.dropdown-menu li {
    font-size: 1rem;
    text-align: right !important;
}